/* @override 
	http://localhost:9393/custom.css
	http://grat.local/css/custom.css
	http://localhost:9393/gratfiles/custom.css
*/

.grat_greet {
  background-color: yellow;
  border-bottom: solid 2px;
  font-size: 2em;
}
form {
  margin-top: 1em;
  padding: 1em;
}

form div {
  margin-bottom: 1em;
}

input, textarea, label, .sameaslabel {
  width: 100%;
  font-size: 2em;
}

.sameaslabel {
  padding-left: 0; // no padding like p has
}

.submit input {
  width: auto;
}
textarea {
  font-family: "Courier New", Courier, mono;
  font-weight: bold;
  height: 13em;
}

p.editing {
  min-height: 1em;
  background-color: yellow;
}

input[type=file] {
  padding-top: .5em;
  font-size: 1.5em;
}

input[type=radio] {
  width: 1em;
  float: left;
  margin-top: .25em;
}

.new_page input {
  width: 33%;
}
.new_page input[type=submit] {
  width: 6em;
}
a.collapse {
  font-size: 1em;
  font-weight: normal;
}

.activeCollapse textarea {
  display: none;
}

.activeCollapse .collapser {
  display:none;
}

.expander {
  display: none;
}

.activeCollapse .expander {
  display: inline;
}
.expander, .collapser {
  margin-left: 1em;
}

.pages {
  background-color: #573515;
  color: whitesmoke;
  border-bottom: solid black;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  font-weight: normal;
  font-style: normal;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  padding: 1em;
}

.pages a.emptycontent {
 color: #b6ff48;
}
.pages .missing_message {
  font-size: .75em;
  visibility: hidden;
}

.pages a {
  color: white;
}

.pages li {
  margin: 0;
  margin-bottom: 0.5em;
  padding-left: 1em;
  border-top: solid 1px rgba(250,250,250,.3);
}
.pages ol {
  padding:  0;
  padding-top: 0.25em;
  padding-bottom: 0;
  padding-left: 0;
}

.tags, .template, .created {
  margin-left: 2em;
  float: right;
}


/*.pages ol:before {
  content:  "collapse";
}*/



/*.pages li:nth-child(odd) {
	background-color: #86B486;
}
.pages li:nth-child(even) {
	background-color: red;
}*/
