/* @override
	http://localhost:9393/custom.css
	http://grat.local/css/custom.css
	http://localhost:9393/gratfiles/custom.css
*/

.grat_greet {
  background-color: yellow;
  border-bottom: solid 2px;
  font-size: 2em;
}
form {
  margin-top: 1em;
  padding: 1em;
}

form div {
  margin-bottom: 1em;
}

input, textarea, label, .sameaslabel {
  width: 100%;
  font-size: 2em;
}

.sameaslabel {
  padding-left: 0; // no padding like p has
}

.submit input {
  width: auto;
}
textarea {
  font-family: "Courier New", Courier, mono;
  font-weight: bold;
  height: 13em;
}

p.editing {
  min-height: 1em;
  background-color: yellow;
}

input[type=file] {
  padding-top: .5em;
  font-size: 1.5em;
}

input[type=radio] {
  width: 1em;
  float: left;
  margin-top: .25em;
}

.new_page input {
  width: 33%;
}
.new_page input[type=submit] {
  width: 6em;
}
a.collapse {
  font-size: 1em;
  font-weight: normal;
}