%h1 Import
%form{:action => "/__admin/import", :method => 'post', :enctype=>'multipart/form-data' }
  .import_file
    %label{:for => 'import_file'} Upload a json file:
    %input{:id => 'import_file', :type => 'file', :name => 'import[file]'}
  %p
    %em or
  .import_text
    %label{:for => 'import_text'} Paste some json here:
    %textarea{:id => 'import_text', :name => 'import[text]'}
  .import_replace_or_add
    .add
      %label{:for => 'import_add'} Add new records to database, ignore existing records.
      %input{:type=> 'radio', :id => 'import_add', :value => 'add', :name => 'import[strategy]', :checked => 'checked'}
    .replace
      %label{:for => 'import_replace'} Add new and replace matching records. (danger!)
      %input{:type=> 'radio', :id => 'import_replace', :value => 'replace', :name => 'import[strategy]'}
    .demolish
      %label{:for => 'import_demolish'} Demolish all existing records, then import. (omg danger!)
      %input{:type=> 'radio', :id => 'import_demolish', :value => 'demolish', :name => 'import[strategy]'}
  .submit
    %input{:name => 'import[submit]', :type => 'submit', :value => "Let's save this thing"}
