!!! XML
!!! 1.0 Transitional
%html
  %head
    %title Grat
    %link{:rel=>"shortcut icon", :href=>"/gratfiles/favicon.ico"}

    %script{:type=>"text/javascript", :src=>"/gratfiles/jquery-combined.min.js"}
    %script{:type=>"text/javascript", :src=>"/gratfiles/application.js"}

    %script{:type=>"text/javascript", :src=>"/gratfiles/js-beautifier.min.js"}

    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/gratfiles/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/gratfiles/custom2.css'}

  %body
    .masthead
      %h1
        %a{:href => '/__admin/'} Grat
      %h2= page_heading_text
    .panel.mod
      %h2 Pages
      .pages
        = haml :page_list, :locals => {:pages => [nested_root]}, :layout => false
    .container
      = yield
    /
      .debug= params.inspect