%h1 Wut?
%p
  Are you from the future? Yes?
  Ok, well you
  %i should
  know this from your research of our time, but FYI: that page doesn't exist yet.
%p
  Maybe you'd like to
  %a{:href=> edit_path(url)} create it
  \.