- if pages.any?
  %ol
    - pages.each do |page|
      %li
        %a{:href => "/__admin/edit#{page.url}", :class => page.class.to_s.downcase[/[a-z]+\Z/]}= page.url
        - if page.class == Grat::Content
          %span.tags
            = page.tags.join(', ')
          %span.template
            - if page.template
              = page.template
            - else
              No template!
        - else
          %span.missing_message <-- Page missing, click to create it
        - if page.children.any?
          = haml :page_list, :locals => {:pages => page.children}, :layout => false