/* @override http://localhost:9393/custom.css */

.grat_greet {
  background-color: yellow;
  border-bottom: solid 2px;
  font-size: 2em;
}
form {
  margin-top: 1em;
  padding: 1em;
}

form div {
  margin-bottom: 1em;
}

input, textarea, label {
  width: 100%;
  font-size: 2em;
}

.submit input {
  width: auto;
}
textarea {
  font-family: "Courier New", Courier, mono;
  font-weight: bold;
  height: 15em;
}